*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#adlhr{
    border: none;
}

#dev {
    width: 100vw;
    height: 5.8vh;
    background-color:darkkhaki;
    /* background-image: url(../../public/images/br1.jpg); */
   
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#devh6 {
    /* background-color: aqua; */
    font-size: 17px;
    color: #fc8c03;
    text-shadow: 0px 0px 5px black;
    font-weight: bold;
    font-style: italic;
    margin-top: 8px;

}